<!DOCTYPE html>
<html>
<head>
  <title>Formularz</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <img src="/duck.jpg" alt="Opis obrazu"style="width: 200px; height: 150px;">

  <form action="/submit" method="post">
    <label for="imie">Imie:</label>
    <input type="text" name="imie" id="imie">

    <label for="wiek">Wiek:</label>
    <input type="number" name="wiek" id="wiek">

    <label for="email">Email:</label>
    <input type="email" name="email" id="email">

    <button type="submit">Wyślij</button>
  </form>
</body>
</html>
