
<!DOCTYPE html>
<html>
<head>
  <title>Wyniki</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
  <h1>Wyniki:</h1>
  <p>Imię: <%= imie %></p>
  <p>Wiek: <%= wiek %></p>
  <p>Email: <%= email %></p>
</body>
</html>
